<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Code</string>
	<key>ordering</key>
	<array>
		<string>542480E0-4F75-4F57-BD77-5205C93FDD15</string>
		<string>39C768E8-E1AD-41DA-AADF-803E220617CE</string>
	</array>
	<key>uuid</key>
	<string>2FED2CA4-4F0A-4C03-8BFA-A344544E1705</string>
</dict>
</plist>
